{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block content %}
{{ form.media }}
<form method="post" action="." class="form">{% csrf_token %}
{{ form|crispy }}
<button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
</form>
{% endblock %}
