{% extends "hkis/layout.html" %}
{% load hkis_extra %}
{% load i18n static %}
{% block title %}
  {% if is_impersonating %}
    {{ object.title }} (as seen by {{ is_impersonating.username }})
  {% else %}
    {{ object.title }}
  {% endif %}
{% endblock %}
{% block stylesheets %}
<link href="{% static "css/codehilite.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extrahead %}
{% autoescape off %}
<script>
    function append_to_answer_table(html) {
        if (document.querySelectorAll("#answer-table tr").length)
            document.querySelectorAll("#answer-table tr")[0].insertAdjacentHTML('beforebegin', html);
        else
            document.querySelectorAll("#answer-table")[0].insertAdjacentHTML('afterbegin', html);
    }

    function fill_answer(answer) {
        var result = document.getElementById("answers-result");
        if (!result)
            return;
        var elem = document.getElementById("td-".concat(answer.id));
        if (!elem) {
            var answer_table = document.getElementById("answer-table");
            append_to_answer_table('<tr><td id="td-'.concat(answer.id).concat('">…</td> </tr>'));
            elem = document.getElementById("td-".concat(answer.id));
        }
        if (answer.is_corrected) {
            var div = document.createElement("div");
            var button_next = document.createElement("a")
            button_next.className = 'btn btn-primary btn-sm'
            button_next.innerHTML = '{% trans "Next" %}'
            button_next.href = "{% url "exercise" next %}"

            var button_help = document.createElement("a")
            button_help.innerHTML = '{% trans "Need help?" %}'
            button_help.href = "{% url 'help' %}"

            div.className = "result-box";
            div.innerHTML = answer.correction_message_html;
            if (answer.is_valid) {
                if (answer.user_rank < {{ current_rank }})
                    div.insertAdjacentHTML(
                        'beforeend',
                        '<div class="alert alert-success">Your new <a href="{% url 'profile' user.id %}">rank</a> is: '.concat(answer.user_rank).concat("</div>"));
                div.appendChild(button_next);
                document.getElementById("solution_link").removeAttribute("style");
            }
            else {
                div.appendChild(button_help);
            }
            while (elem.firstChild) elem.removeChild(elem.firstChild);
            elem.appendChild(div);
            document.getElementById('submit_answer').removeAttribute('disabled');
        } else {
            elem.innerHTML = '<img src="{% static "img/loading_anim.gif" %}" height=30> {% trans "Waiting for correction" %}';
        }
    }

    function fill_snippet(id, executed_at, output) {
        var result = document.getElementById("answers-result");
        if (!result)
            return;
        var elem = document.getElementById("td-snippet-".concat(id));
        if (!elem) {
            var answer_table = document.getElementById("answer-table");
            append_to_answer_table('<tr><td id="td-snippet-'.concat(id).concat('">…</td> </tr>'));
            elem = document.getElementById("td-snippet-".concat(id));
        }
        if (executed_at) {
            var pre = document.createElement("pre");
            var div = document.createElement("div");
            div.className = "result-box";
            div.appendChild(pre);
            var content = document.createTextNode(output);
            pre.appendChild(content);
            while (elem.firstChild) elem.removeChild(elem.firstChild);
            elem.appendChild(div);
            document.getElementById("submit_snippet").removeAttribute('disabled');
        } else {
            elem.innerHTML = '<img src="{% static "img/loading_anim.gif" %}" height=30> {% trans "Waiting for test run" %}';
        }
    }

    function websocket_connect(ws_location) {
        console.log("Trying to open WebSocket connection.");
        window.ws = new WebSocket(ws_location);
        window.ws.onmessage = function(e) {
            var data = JSON.parse(e.data);
            console.log("WebSocket recv:", data);
            if (data.type == "snippet.update")
                fill_snippet(data.id, data.executed_at, data.output)
            if (data.type == "answer.update")
                fill_answer(data);
        };
        window.ws.onerror = function() {
            console.log("WebSocket error.");
        };
        window.ws.onopen = function() {
            console.log("WebSocket opened.");
            document.querySelectorAll("td.answer-cell").forEach(function(answer) {
                if (answer.dataset.isCorrected == "True") return ;
                console.log("Need to correct answer number", answer.dataset.answerId);
                window.ws.send(JSON.stringify({"type": "recorrect", "id": Number(answer.dataset.answerId)}));
            });
        };
        window.ws.onclose = function() {
            console.log("WebSocket closed, will retry to connect in 5s");
            setTimeout(function(){websocket_connect(ws_location)}, 5000);
        };
    }

    function ws_submit_answer(form) {
        document.getElementById('submit_answer').setAttribute('disabled', true);
        setTimeout(function(){document.getElementById('submit_answer').removeAttribute('disabled');}, 1000);

        var message = {"type": "answer", "source_code": form["source_code"].value};
        console.log("WebSocket send answer", message);
        window.ws.send(JSON.stringify(message));

    }

    function ws_submit_snippet(form) {
        document.getElementById('submit_snippet').setAttribute('disabled', true);
        setTimeout(function(){document.getElementById('submit_snippet').removeAttribute('disabled');}, 1000);

        var message = {"type": "snippet", "source_code": form["source_code"].value};
        console.log("WebSocket send snippet", message);
        window.ws.send(JSON.stringify(message));

    }

    var ws_protocol = window.location.protocol == "http:" ? "ws:" : "wss:";
    {% if not is_impersonating %}
    window.addEventListener('DOMContentLoaded', function (event) {
        websocket_connect(ws_protocol + "//" + window.location.host + "/ws/exercises/" + {{object.id}} + "/");
    });
    {% endif %}
</script>
{% endautoescape %}
{% endblock %}
{% block container %}
{% if is_impersonating %}
  <div class="alert alert-warning" role="alert">
    Exercise as seen by {{ is_impersonating.username }}.
  </div>
{% endif %}
{{ answer_form.media }}
{% if next %}
<div class="float-right">
  <a class="btn btn-secondary" href="{% url "exercise" next %}">
    {% trans "Next" %} →
  </a>
</div>
{% endif %}
<div style="margin-bottom: 25px;">
{{ object.wording|markdown_to_bootstrap|i18n_doc_links:LANGUAGE_CODE }}
</div>

<div class="row">
  <div class="col-md-6">
    <h2>{% trans "Your Code" %}</h2>
    <form id="answer_form" action="#" onsubmit="return false;" method="post">{% csrf_token %}
        {% for field in answer_form %}
        <div class="fieldWrapper">
            {{ field }}
        </div>
        {% endfor %}
        {% if not is_impersonating %}
        <button
          id="submit_snippet"
          class="btn btn-secondary"
          data-toggle="tooltip"
          data-placement="bottom"
          data-delay="500"
          title="Use this to execute your code, so you can try things."
          onclick="ws_submit_snippet(this.form); return false;">
          {% trans "Run" %}
        </button>
        <button
          id="submit_answer"
          class="btn btn-primary"
          data-toggle="tooltip"
          data-placement="bottom"
          data-delay="500"
          title="This runs automated tests to verify your implementation (also saves your code)."
          type="submit"
          onclick="ws_submit_answer(this.form); return false;">
          {% trans "Submit for validation" %}
        </button>
        {% endif %}
    </form>
  </div>
  <div class="col-md-6">
    <h2>{% trans "Results" %}
      <span id="solution_link" {% if not is_valid %} style="display: none" {% endif %}>
        {% url "solutions" object.slug as solutions_url %}
        ({% blocktrans %}<a href={{ solutions_url }}>{{ solutions_qty}} shared solutions</a>{% endblocktrans %})
      </span>
    </h2>
    <div id="answers-result" class="result">
      <table id="answer-table" class="table">
        {% for answer in answers %}
        <tr>
          <td id="td-{{ answer.id }}"
              data-answer-id="{{ answer.id }}"
              data-is-corrected="{{ answer.is_corrected }}"
              class="answer-cell">
            {% if not answer.is_corrected %}
              <img src="{% static "img/loading_anim.gif" %}" height=30> Waiting for correction
            {% else %}
              <div class="result-box">
              {{ answer.correction_message|markdown_to_bootstrap }}
            </div>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
