{% extends "hkis/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}Python course{% endblock %}

{% block container %}

<h1>Python lessons</h1>

<table class="table table-sm table-hover records_list">
  <tbody>
    {% for lesson in lessons %}
    <tr onclick="if (!event.ctrlKey){location.href='{% url "lesson" lesson.slug %}';}">
      <td>
        <a href="{% url "lesson" lesson.slug %}">
          <h5>{{ lesson.number }}. {{ lesson.title }}</h5>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
