{% extends "hkis/layout.html" %}
{% block title %}Stats - {{object.name}}{% endblock %}

{% block container %}
<h2>{{ object.name }}</h2>
<table>
  {% for username, answers in stats.items %}
  <tr>
    <td>
      {{ username }}
    </td>
    {% for answer in answers %}
    <td>
      <a href="{% url "admin:website_answer_change" object_id=answer.last_answer %}">
      {% if answer.is_tried %}
          {% if answer.is_valid %}
            <span class="good">✓</span>
          {% else %}
            <span class="bad">✗</span>
          {% endif %}
      {% endif %}
      </a>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
