h1 {
    margin-bottom: 25px;
    color: #444;
}

h2 {
    margin-bottom: 15px;
    color: #444;
}

.result-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    padding-left: 9.5px;
    line-height: 1.8em;
}

.black-grad {
    background: radial-gradient(farthest-corner, black, transparent 70%);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

span.good {
    color: #28a745;
    font-size: 2.5rem;
}

span.bad {
    color: #cb2431;
    font-size: 2.5rem;
}

a {
    color: #3776ab;
}

.fieldWrapper .django-ace-editor {
    font-size: 16px;
}

table#answer-table td {
    border: none;
}

.result-box pre {
    margin-bottom: 0;
}

div.container-fluid {
    margin-top: 25px;
    margin-bottom: 25px;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
}
