{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}{% trans "Sign in to Hackinscience" %}{% endblock %}

{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}


<form method="post" action="." class="form">
{% csrf_token %}
{{ form|crispy }}

<p>
  <a href="{{ auth_pwd_reset_url }}">{% trans "Forgot your password?" %}</a>
</p>

<button type="submit" class="btn btn-primary">{% trans "Sign in" %}</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

<br/>
<p>
New to Hackinscience? <a href="{{ register_url }}">Create an account.</a>
</p>

{% endblock %}
