{% extends "registration/registration_base.html" %}
{% load i18n static crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<form method='post' action='' class="form">{% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
    <a href="/">Back</a>
</form>
{% endblock %}
